@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.Contact {
    margin: 0;
    font-family: "Syne", serif;
    padding: 8%;
}

h1{
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.appt {
    font-size: larger;
    text-align: center;
    margin: 1rem;
    font-weight: light;
    letter-spacing: 1px;
}
