@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Bebas+Neue&family=Permanent+Marker&family=Syne:wght@400..800&display=swap');

.Contact {
    margin: 0;
    font-family: "Syne", serif;
    padding: 3% 10%;
}

h2 {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
}

.btn {
    background-color: black;
    color: whitesmoke;
}