@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.Contact {
    margin: 0;
    font-family: "Syne", serif;
    padding: 5%;
}

h1{
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
}

.appt {
    font-size: larger;
    text-align: center;
    margin: 1rem;
}

.btn {
    background-color: black;
    padding: 10px;
    color: whitesmoke;
}

.message {
    width: 30%;
}

input .email {
    width: 30%;
}
