@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.footer {
    font-family: "Syne", serif;
    background-color: rgb(44, 91, 134);
    color: rgb(219, 218, 218);
    padding: 4%;
    text-align: center;
}

.footer h2 {
    font-size: larger;
}

.column {
    padding: 20px;
}