@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Bebas+Neue&family=Permanent+Marker&family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.services {
    font-family: "Syne", serif;
    padding: 3% 10%;
    text-align: center;
    /* height: auto; */
    background-color: rgb(240, 240, 240);
    letter-spacing: 1px;
}

.services h1 {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    padding: 3%;
}

.services h2 {
    font-weight: bolder;
    font-size: x-large;
    text-transform: uppercase;
}

li {
    font-size: x-large;
    padding-bottom: 5px;
}

.interior h3 {
    /* padding: 5px; */
    font-size: x-large;
    /* background-color: orange;  */
}

.exp-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#service {
    /* margin: 30px 20px; */
    padding: 5px;
    text-align: center;
    /* background-color: orange; */
}

#service h2 {
    margin: 20px;
    /* background-color: orange; */
}

.fullprice {
    margin-top: 30px;
}
