@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Bebas+Neue&family=Permanent+Marker&family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.services {
    font-family: "Syne", serif;
    margin: 2em;
    padding: 5% 10%;
    text-align: center;
    background-color: rgb(240, 240, 240);
    letter-spacing: 1px;
}

.services h1 {
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
}

.services h2 {
    font-weight: bolder;
    font-size: larger;
    text-transform: uppercase;
}

li {
    font-size: larger;
    padding-bottom: 5px;
    list-style: none;
    line-height: 2rem;
}

.interior h2 {
    margin: 1em;
}

.interior h3 {
    font-size: larger;
    font-weight: normal;
}

.exp-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#service {
    padding: .5em;
    text-align: center;
}

#service h2 {
    margin: 20px;
}

.fullprice {
    margin-top: 30px;
}
